<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAywHCkaoyAZfG5NvSnkd9S18HVwHJzFZY</string>
	<key>GCM_SENDER_ID</key>
	<string>399098922894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.josh.test</string>
	<key>PROJECT_ID</key>
	<string>test-69a90</string>
	<key>STORAGE_BUCKET</key>
	<string>test-69a90.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399098922894:ios:ee3a06ffe93a658c6286df</string>
</dict>
</plist>